/* ==========================================
   TIMELINE MARKER
========================================== */

.timeline-marker{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    width:3.25rem;

    aspect-ratio:1;

    border-radius:50%;

    border:2px solid var(--clr-primary-600);

    background:var(--surface-page);

    color:var(--clr-primary-600);

    font-size:var(--fs-sm);

    font-weight:var(--fw-bold);

    box-shadow:

        0 0 0 .4rem var(--surface-page);

    position:relative;

    z-index:2;

}