/* ==========================================
   SECTION
========================================== */

.section{

    padding-block:

        clamp(

            var(--space-4),

            2.5vw,

            var(--space-7)

        );

}

.section-sm{

    padding-block:

        clamp(

            var(--space-3),

            2vw,

            var(--space-5)

        );

}

.section-lg{

    padding-block:

        clamp(

            var(--space-5),

            3.5vw,

            var(--space-9)

        );

}